/* цвет основной #212121 */
/* цвет вторичный  #757575 */
/* цвет лого  #000000 */
/* цвет accent  #2196F3*/
/* белый  #FFFFFF */
/* adress rgba(255, 255, 255, 0.6); */

:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --canvas: #2F303A;
    --primary-text: font-
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    color: var(--primary-color);
    letter-spacing: 0.03em;

}

.list {
    list-style: none;
}


/* Logo */

.logo {
    color: #000000;
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

}

.logo-web {
    color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav .link {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.14;
    text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

/* Hero Main */

.filters .button{
    font-family: inherit;
    background-color: #E5E5E5;
    color: var(--primary-color);
    cursor: pointer;
    
}

.filters .button:hover, .button:focus {
    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
}
.items > p {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.9;
} 
.items > h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

/* * footer  */

.footer {
    background-color: #2F303A;
}

.footer .logo-studio {
    color: var(--white-color)
}

.address .map {
    color: var(--white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.address .contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

