
/* цвет основной #212121 */
/* цвет вторичный  #757575 */
/* цвет лого  #000000 */
/* цвет accent  #2196F3*/
/* белый  #FFFFFF */
/* adress rgba(255, 255, 255, 0.6); */

:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --canvas: #2F303A;
   

}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    color: var(--primary-color);
    letter-spacing: 0.03em;

}

.list {
    list-style: none;
}

/* Logo */

.logo {
    color: #000000;
    font-family: 'Raleway', serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

}
.logo-web {
    color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;  
    text-decoration: none;
}

.current {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

}

.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav .link{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.14;
    text-decoration: none;
}

.auth-nav .link:hover, .auth-nav .link:focus {
    color: var(--accent-color);
}

/* Main Hero Студия*/

.hero{
    background-color: var(--canvas);
}
.hero-title {

    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    color: var(--primary-color);
    background-color: #ffffff;
}

.button-main {

    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    font-family: inherit;

    cursor: pointer;
}

/* Features */
.features .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features .text{
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* Sections */
.section > h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
/* Team */
.workers .text {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}
.workers .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}









/* Портфолио */
/* Hero Main */

.filters .button {
    font-family: inherit;
    background-color: #E5E5E5;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;

}

.filters .button:hover,
.button:focus {
    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
}

.items>p {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.9;
}

.items .article {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}





/* footer */
.footer {
    background-color: #2F303A;
}
.footer .logo-studio {
    color:var(--white-color)
}
.address .map {
    color: var(--white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}


.address .map:hover,
.address .map:focus {
    color: var(--accent-color);
}

.address .contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.address .contact:hover,
.address .contact:focus {
    color: var(--accent-color);
}

