.clients__buyer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.buyer__company {
  margin: 0;
  width: calc((100% - 30px) / 2);

  @include tablet {
    width: calc((100% - 60px) / 3);
  }

  @include desktop {
    width: calc((100% - 150px) / 6);
  }
}

.buyer__icon {
  display: flex;
  margin: 0;

  align-items: center;
  justify-content: center;

  border: 1px solid #afb1b8;

  width: 100%;
  height: 92px;

  border-radius: 4px;
  color: #afb1b8;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.buyer__logotyp {
  fill: var(--grey-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .buyer__icon:hover & {
    fill: var(--accent-color);
  }
}

// .buyer__company:not(:last-child) {
//   margin-right: 30px;
// }
