.features__main {
  display: flex;
  align-items: center;
}

.features__list {
  display: flex;
  gap: 30px;
  padding-bottom: 0;
  flex-wrap: wrap;
}

.features__catalog {
  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

// .features__catalog:not(:last-child) {
//   margin-right: 30px;
// }

.features__thumb {
  display: flex;
  background: #f5f4fa;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03em;
  width: 100%;
}
