.section.features {
  padding-bottom: 0;
}

.features__main {
  margin: 0;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-bottom: 0;
}

// .features__catalog:not(:last-child) {
//   margin-right: 30px;
// }

.features__thumb {
  display: flex;
  width: 270px;
  background: #f5f4fa;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.features__icon {
  display: flex;
  width: 70px;
  height: 70px;
  margin-bottom: 55px;
}

.features__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.features__text {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}
