.hero {
  background-color: var(--canvas);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/hero-480.jpg);
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.hero__title {
  display: block;
  width: 100%;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;

  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 480px) {
    font-size: 26px;
    line-height: 1.6;
    padding-top: 118px;
    padding-right: 60px;
    padding-left: 60px;
  }
}
