.works {
  display: none;

  @include desktop {
    display: flex;
  }
}

.works .thing {
  display: flex;
}

.thing .list {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.list .thing-label {
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);

  width: 100%;
  min-height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.thing-label .text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
}
